.hero {
    @apply bg-red-800;
    @apply w-full;
    @apply h-screen;
    @apply flex;
    max-height: 60rem;

    .waves-container {
        @apply absolute;
        @apply w-full;
        @apply h-screen;
        @apply overflow-hidden;
        max-height: 60rem;

        .wave {
            @apply absolute;
            @apply w-full;
            @apply -bottom-52;
            @apply opacity-0;
            @apply left-0;

            &.wave-1 {
                animation: wave-1 1s cubic-bezier(.5, 0, 0, 1) .6s forwards;
            }
            
            &.wave-2 {
                animation: wave-1 2s cubic-bezier(.5, 0, 0, 1) .6s forwards;
            }
            
            &.wave-3 {
                animation: wave-1 3s cubic-bezier(.5, 0, 0, 1) .6s forwards;
            }
            
            &.wave-4 {
                animation: wave-4 3.5s cubic-bezier(.5, 0, 0, 1) .6s forwards;
            }

            &.wave-bottom {
                @apply opacity-100;
                @apply -bottom-1;
                @apply -left-20;
                @apply left-0;
                @apply text-gray-900;
                @apply w-full;
            }
        }
    }

    .hero-inner {
        @apply w-full;
        @apply max-w-3xl;
        @apply mx-auto;
        @apply my-auto;
        @apply z-40;
        
        .hero-heading {
            @apply text-white;
            @apply text-2xl;
            @apply text-center;
            @apply mt-0;
            @apply mb-16;
            @apply mx-8;
        }
    }
}

@keyframes wave-1 {
    0% {
        @apply -bottom-96;
        @apply opacity-0;
        @apply left-24;
    }
    100% {
        @apply -bottom-52;
        @apply opacity-100;
        @apply left-0;
    }
}

@keyframes wave-4 {
    0% {
        @apply -bottom-96;
        @apply opacity-0;
        @apply -left-12;
    }
    100% {
        @apply -bottom-32;
        @apply -left-48;
        @apply opacity-100;
    }
}